/*
*     Font family & src
*/
@font-face {
  font-family: ArchivoBlack;
  src: url(font/ArchivoBlack-Regular.ttf);
}
@font-face {
font-family: DancingScript;
src: url(font/DancingScript-VariableFont_wght.ttf);
}
@font-face {
font-family: KaushanScript;
src: url(font/KaushanScript-Regular.ttf);
}
@font-face {
font-family: ZhiMangXing;
src: url(font/ZhiMangXing-Regular.ttf);
}
@font-face {
font-family: PlayfairDisplay;
src: url(font/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: CaveatBold;
  src: url(font/Caveat-Bold.ttf);
}
@font-face {
  font-family: CaveatRegular;
  src: url(font/Caveat-Regular.ttf);
}

/*
*     Design généraux & couleurs liens
*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  overflow-x: hidden;
}
header {
  position: absolute;
  width: 100%;
  top: 0;
}

footer, header, section {
  display: block;
}
section {
  margin-top: 100px;
  margin-bottom: 120px;
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  height: 100%;
}

a, .logo, .button-ohmyfood {
  color: #fdcb46;
  text-decoration: none;
}
a:hover {
  color: #d6ae3f;
}
h1, h2, h3, p {
  padding: 0 !important;
  margin: 0 !important;
}
.img-fluid
{
    max-width: 100%;
    height: auto;
}

/*
*     Systeme de Grid
*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container-fill-height {
  display: table;
  width: 100%;
  height: 500px;
}
.container-fill-height .container-content-middle {
  display: table-cell;
  vertical-align: middle;
}
.contenu {
  width: 80%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.ligne {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}





/* DESIGN OHMYFOOD - SIZE - FONT */
.bg-ohmyfood, .button-ohmyfood {
  background-color: #579c87;
}
.font-ohmyfood {
  font-family: ArchivoBlack;
}

/* DESIGN LA NOTE ENCHANTEE - SIZE - FONT */
.bg-ne {
  background-color: #FCDFDB;
  opacity: 1;
}
.font-note-enchantee {
  font-family: ZhiMangXing;
  color: #3d1319;
}
.fas {
  background: -webkit-linear-gradient(left, #f05861 0%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5rem;
  color: #f05861 !important
}
.caveat-r {
  font-family: CaveatRegular;
  font-size: 1.5rem;
}
.caveat-b {
  font-family: CaveatBold;
  font-size: 1.5rem;
}

/* DESIGN LE CHIC A LA FRANCAISE - SIZE - FONT */
.bg-cf {
  background-color: #FFF5FE;
  opacity: 1;
}
.font-chic-francaise {
  font-family: PlayfairDisplay;
}
.ch-color{
  color: #e0881d;
  background: -webkit-linear-gradient(left, #e0881d 0%, #8f5aff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5rem;
}
.ch-menu-color{
  color: #c77412;
}
.contenu-cf-2 {
  color: #a56799;
}
.contenu-cf-3 {
  color: #6e4ccc;
}
.ch-size {
  font-size: 1rem;
}
/* DESIGN LE DELICE DES PAPILLES - SIZE - FONT */
.bg-dp {
  background-color: #F9F9F9;
  opacity: 1;
}
.font-delice-papilles {
  font-family: DancingScript;
}
.dp-color{
  color: #0229dd;
  background: -webkit-linear-gradient(left, #0c31d4 0%, #0e7fe2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5rem;
  
}
.dp-menu-color{
  color: #0889fb;
}
/* DESIGN LA PALETTE DU GOÛT - SIZE - FONT */
.bg-pg {
  background-color: #FDFFFD;
  opacity: 1;
}
.font-palette-gout {
  font-family: KaushanScript;
}
.pg-color{
  color: #beff7f;
  background: -webkit-linear-gradient(left, #3e923a 0%, #beff7f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5rem;
}
.pg-menu-color{
  color: #3e923e;
}

/*
*     Font size
*/
.display-size-lg {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-size-md{
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-titre {
  font-size: 5vw
}


/*
*     Button Design
*/
.button {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.button-ohmyfood:hover {
  color: #ffd96f;
  background-color: #3f7263;
}

.button-ohmyfood:focus, .button-ohmyfood.focus {
  color: #ffd96f;
  background-color: #3f7263;
}

/*
*     Navigation design
*/
.navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.navigation-lien {
  display: block;
  padding: 1rem 1rem;
}
.navigation-lien:hover, .navigation-lien:focus {
  text-decoration: none;
}

/*
*     Card Design
*/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  margin: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  opacity: 1;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.card-effect {
  transform: scale(1);
  transition: transform 500ms, opacity 500ms;
}
.card-title {
  font-size :2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.card-page {
  height: auto !important;
  width: auto !important;
}

/*
*     Justify content => Center / Between
*/
.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}


/*
*     Align center => Items / Content
*/
.align-items-center {
  align-items: center !important;
}

.align-content-center {
  align-content: center !important;
}

/*
*     Position fixed => Top / Bottom
*/

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

/*
*     Text => Left / Center / Right
*/

.text-center {
  text-align: center !important;
}
.text-price {
  text-align: right !important;
}

/*
*     Margin & Padding
*/

.padding-y {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.margin-bottom{
  margin-bottom: 3rem !important;
}
.margin-bottom-1{
  margin-bottom: 1.5rem !important;
}
